body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:732px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:98px;
  top:62px;
  width:136px;
  height:73px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:73px;
}
#u1 {
  position:absolute;
  left:2px;
  top:28px;
  width:132px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:267px;
  top:62px;
  width:136px;
  height:73px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:73px;
}
#u3 {
  position:absolute;
  left:2px;
  top:28px;
  width:132px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:431px;
  top:62px;
  width:136px;
  height:73px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:73px;
}
#u5 {
  position:absolute;
  left:2px;
  top:28px;
  width:132px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:596px;
  top:62px;
  width:136px;
  height:73px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:73px;
}
#u7 {
  position:absolute;
  left:2px;
  top:28px;
  width:132px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:98px;
  top:140px;
  width:136px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:98px;
  top:185px;
  width:136px;
  height:40px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:596px;
  top:139px;
  width:136px;
  height:40px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:234px;
  top:98px;
  width:33px;
  height:0px;
}
#u14_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:47px;
  height:20px;
}
#u15 {
  position:absolute;
  left:-34px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:403px;
  top:98px;
  width:28px;
  height:0px;
}
#u16_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:42px;
  height:20px;
}
#u17 {
  position:absolute;
  left:-36px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:567px;
  top:98px;
  width:29px;
  height:0px;
}
#u18_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:43px;
  height:20px;
}
#u19 {
  position:absolute;
  left:-36px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:268px;
  top:140px;
  width:136px;
  height:40px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
}
#u21 {
  position:absolute;
  left:2px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
