body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1625px;
  font-size:11px;
  color:#CCCCCC;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1625px;
}
#u1 {
  position:absolute;
  left:2px;
  top:804px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:20px;
  width:1040px;
  height:193px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:193px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  word-wrap:break-word;
}
