body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1160px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:129px;
  width:1140px;
  height:112px;
  font-size:11px;
  color:#CCCCCC;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:112px;
}
#u1 {
  position:absolute;
  left:2px;
  top:48px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:-1px;
  width:1160px;
  height:60px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:1156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1092px;
  top:21px;
  width:50px;
  height:18px;
  font-size:16px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:50px;
  top:176px;
  width:1000px;
  height:22px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:11px;
  top:4px;
  width:186px;
  height:50px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:50px;
  top:820px;
  width:259px;
  height:18px;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:780px;
  top:820px;
  width:317px;
  height:18px;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:18px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:538px;
  top:877px;
  width:200px;
  height:100px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u15 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:976px;
  top:21px;
  width:87px;
  height:18px;
  font-size:16px;
  color:#E9FF15;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:0px;
  top:57px;
  visibility:hidden;
}
#u18_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u18_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:41px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:41px;
}
#u20 {
  position:absolute;
  left:2px;
  top:12px;
  width:1156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:580px;
  top:10px;
  width:400px;
  height:22px;
  font-family:'OpenSans-Semibold', 'Open Sans Semibold', 'Open Sans';
  font-style:normal;
  font-size:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:22px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:1015px;
  top:14px;
  width:131px;
  height:15px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:15px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:46px;
  top:265px;
  width:1085px;
  height:45px;
  overflow:hidden;
}
#u25_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1085px;
  height:45px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:33px;
  top:6px;
  width:708px;
  height:15px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:15px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  white-space:nowrap;
}
