body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:570px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:110px;
  width:550px;
  height:730px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:730px;
}
#u1 {
  position:absolute;
  left:2px;
  top:357px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:37px;
  width:447px;
  height:45px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:45px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:40px;
  top:135px;
  width:130px;
  height:34px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:34px;
}
#u5 {
  position:absolute;
  left:2px;
  top:9px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:40px;
  top:206px;
  width:510px;
  height:54px;
  font-size:16px;
  color:#505050;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:54px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:347px;
  top:151px;
  width:200px;
  height:14px;
  font-size:12px;
  color:#505050;
  text-align:right;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:14px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:280px;
  top:493px;
  width:260px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:280px;
  top:490px;
  width:260px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:11px;
  width:256px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:40px;
  top:780px;
  width:509px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:14px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:40px;
  top:802px;
  width:296px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:14px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:40px;
  top:294px;
  width:510px;
  height:173px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:173px;
}
#u19 {
  position:absolute;
  left:2px;
  top:78px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:80px;
  top:362px;
  width:253px;
  height:48px;
  font-size:16px;
  color:#506383;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:48px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:380px;
  top:331px;
  width:130px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:382px;
  top:360px;
  width:130px;
  height:28px;
  text-align:right;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:28px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:240px;
  top:414px;
  width:130px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:40px;
  top:605px;
  width:510px;
  height:54px;
  font-size:16px;
  color:#505050;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:54px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:42px;
  top:548px;
  width:507px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:490px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:507px;
  height:1px;
}
#u31 {
  position:absolute;
  left:186px;
  top:412px;
  width:20px;
  height:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:80px;
  top:414px;
  width:106px;
  height:16px;
  font-size:14px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:80px;
  top:331px;
  width:44px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#505050;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:80px;
  top:373px;
  width:200px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u38 {
  position:absolute;
  left:80px;
  top:391px;
  width:253px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:236px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:253px;
  height:1px;
}
#u39 {
  position:absolute;
  left:192px;
  top:414px;
  width:38px;
  height:16px;
  font-size:14px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:50px;
  top:494px;
  width:149px;
  height:32px;
  font-size:14px;
  color:#505050;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:32px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
